{% extends 'base.html' %}

{% block title %}Información de aviso{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info_aviso.css')}}"/>{% endblock %}

{% block content %}
    <div class="display-info">
        <h1>Información del lugar</h1>
        <p>Comuna: {{aviso.comuna}}</p>
        <p>Sector: {{aviso.sector}}</p>
        <h1>Información del contacto</h1>
        <p>Nombre: {{aviso.contacto}}</p>
        <p>Celular: {{aviso.phone}}</p>
        <p>Email: {{aviso.email}}</p>
        <h1>Información de la(s) mascota(s)</h1>
        <p>Tipo/Cantidad/Edad: {{aviso.cantidad}} {{aviso.tipo}} {{aviso.edad}} {{aviso.medida}}</p>
        <p>Fecha de Publicación: {{aviso.fechaP}}</p> 
        <p>Fecha de entrega: {{aviso.fechaE}}</p>
        <p>Descripción: {{aviso.descripcion}}</p>
        <img src="{{ url_for('static', filename='uploads/' ~ aviso.photo) }}" alt="aviso" class="thumbnail" onclick="openModal(this)">
        <button class="btn" id="home-btn" onclick="window.location.href = '/';">Regresar a la página principal</button>
    </div>
    <div id="imageModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="expandedImg" src="a" alt="modal">
    </div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/info_aviso.js')}}"></script>
{% endblock %}
