{% extends 'base.html' %}

{% block title %}Listta avisos{% endblock %}

{% block content %}
    <div>
        <table class="content-table" id="table-1">
            <tr>
                <td>Fecha de Publicación</td><td>Fecha de entrega</td><td>Comuna</td><td>Sector</td><td>Cantidad/Tipo/Edad</td><td>Nombre Contacto</td><td>Total Fotos</td>
            </tr>
            {% for aviso in avisos %}
            <tr onclick="window.location.href='{{ url_for('info_aviso', aviso_id=aviso.aviso_id) }}';">
                <td>{{aviso.fechaP}}</td><td>{{aviso.fechaE}}</td><td>{{aviso.comuna}}</td><td>{{aviso.sector}}</td><td>{{aviso.cantidad}} {{aviso.tipo}} {{aviso.edad}} {{aviso.medida}}</td><td>{{aviso.contacto}}</td><td><img src="{{ url_for('static', filename='uploads/' ~ aviso.photo) }}" alt="adopt"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button class="btn" id="home-btn" onclick="window.location.href = '/';">Regresar a la página principal</button>
{% endblock %}