<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    {% block css %}{% endblock %}  
</head>
<body>
    <div class="navbar">
        <a class="navbar-page" href="{{ url_for('agregar_aviso')}}">Agregar aviso</a>
        <a class="navbar-page" href="{{ url_for('avisos')}}">Lista de adopciones</a>
        <a class="navbar-page" href="{{ url_for('estadisticas')}}">Estadísticas</a>
    </div>

{% block content %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>